# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# vscode
.vscode

# java
target
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
